---
layout: default
title: Archive
---

<div>

  <h2>Archive</h2>

  <small>Sort by [ <b>Year</b> | <a href="{{ "/categories" | prepend: site.baseurl }}">Category</a> | <a href="{{ "/language" | prepend: site.baseurl }}">Language</a> ] </small>

  <section class="archive_list">
      {% for post in site.posts %}
        {% unless post.next %}
        <div class="category-name"><h2>{{ post.date | date: '%Y' }}</h2></div>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
          <div class="category-name"><h2>{{ post.date | date: '%Y' }}</h2></div>
          {% endif %}
        {% endunless %}
    
        <div class="post_title">
            {% if post.language == 'arabic' %}
            <bdi class="rtl"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></bdi>
            {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
            {% endif %}
            <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
          </div>
      {% endfor %}
  </section>

</div>


